[user]
	email = vlad@solidsands.nl
	name = Vlad
[credential]
	helper = cache --timeout=18000
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
	autocrlf = input
    pager = delta
[init]
	defaultBranch = master
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
